# Function Practice Exercise

### Write a function that returns the lesser of two given numbers if both are even, but returns the greater if one or both numbers are odd

In [1]:
def less_greater(num1, num2):
    if (num1 % 2 == 0) and ( num2 % 2 == 0):
        return min(num1,num2)
    else:
        return max(num1, num2)

In [2]:
less_greater(3, 6)

6

In [3]:
less_greater(2,8)

2

### Write a function takes a two-word string and returns True if both words begin with same letter
    str1 ('Live Long') --> True
    str2 ('Rose Flower') --> False

In [15]:
def stringCatcher(text):
    words = text.split()
    return words[0][0] == words[1][0]

In [16]:
stringCatcher(' Live Long')

True

In [17]:
stringCatcher('Rose Flower')

False

### Write a function: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    twenty(20,10) --> True
    twenty(12,8) --> True
    twenty(2,3) --> False

In [18]:
def is_twenty(num1, num2):
    return (num1 + num2 == 20) or num1 == 20 or num2 == 20

In [19]:
is_twenty(10, 20)

True

In [20]:
is_twenty(10, 12)

False

In [21]:
is_twenty(18, 2)

True

#### Write a function that capitalizes the first and fourth letters of a name
     daisy -->DaiSy

In [45]:
def cap_name(name):
    if len(name)>3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return "Name is too short!"

In [46]:
cap_name("daisy")

'DaiSy'

In [48]:
cap_name("rose")

'RosE'

In [49]:
cap_name("eye")

'Name is too short!'

#### Write a function: Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'

In [61]:
def rev_words(sentence):
    return ' '.join(sentence.split()[::-1])

In [63]:
rev_words('I am home')

'home am I'

In [64]:
rev_words('Wonderful weather today')

'today weather Wonderful'

#### Write a function: Given an integer n, return True if n is within 10 of either 100 or 200

    either_(90) --> True
    either_(150) --> False
    either_(205) --> True

In [70]:
def either_(num):
    return ((abs(100 - num) <=10) or (abs(200 - num) <=10))

In [71]:
either_(90)

True

In [72]:
either_(150)

False

In [73]:
either_(205)

True

#### Write a function: Given a string, return a string where for every character in the original there are three characters
    repeat_str('Hello') --> 'HHHeeellllllooo'

In [78]:
def repeat_str(text):
    result = ' '
    for char in text:
        result += char * 3
    return result

In [79]:
repeat_str("Hello")

' HHHeeellllllooo'

In [80]:
repeat_str("Rose")

' RRRooossseee'

#### Write a function: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    is_bust_or_no(5,6,7) --> 18
    is_bust_or_no(9,9,9) --> 'BUST'
    is_bust_or_no(9,9,11) --> 19

In [100]:
def is_bust_or_no(a,b,c): 
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) >= 21 and  11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [101]:
is_bust_or_no(1,2,99)

'BUST'

In [102]:
is_bust_or_no(1,42,11)

44

In [103]:
is_bust_or_no(1,2,3)

6

In [109]:
def myfunc(word):
    result = ""
    index = 0
    for letter in word:
        if index % 2 == 0:
            result += letter.lower()
        else:
            result += letter.upper()
        index +=1
    return result

In [110]:
myfunc("Anthropomorphism")

'aNtHrOpOmOrPhIsM'